@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-color: #80B840;
  --background: #fcfcfc;
  --foreground: #171820;
}

.dark {
  --background: #050718;
}
body {
  background: var(--background);
}
